.chart-button{
    background-color: #FFFFFF !important;
    /*border-radius: 5px;*/
    border:1px solid #AAAAAA !important;
    font-size: 14px !important;
    color: #202124 !important;
    width: 110px !important;
    height: 30px !important;
}
.chart-button:hover{
    background-color: #00ADEF !important;
}
.redSquare{
    width: 15px;
    height: 15px;
    background-color: #F1511B;
}
.blueSquare{
    width: 15px;
    height: 15px;
    background-color: #2E89FF;
}
.selected {
    background-color: #00ADEF !important;
    font-weight: 700 !important;
}
/* -------------Dashboard Sale----------------*/
.redSquare-chart-dashboardSale{
    width: 10px;
    height: 10px;
    background-color: #F1511B;
}
.blueSquare-chart-dashboardSale{
    width: 10px;
    height: 10px;
    background-color: #2E89FF;
}
