.nameTitle {
    margin-bottom: 10px !important;
    width: 267px !important;
    height: 23px!important;
    font-size: 20px!important;
    font-weight: 500!important;
    line-height: 23px!important;
    letter-spacing: 0em!important;
    text-align: left!important;
}

.custom-textfield {
    width: 284px;
    height: 30px;
}


